.main-header {
    padding-top: 5em;
    display: flex;
    height: 500px;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cc8800;
    background-image: url("https://www.transparenttextures.com/patterns/basketball.png");
}

@media only screen and (max-width: 768px) {
    .main-header {
        width: 100%;
    }
}